body {
  height: 100%;
  margin: 0;
  background-image: url("./backgroundImage/Background_Website_light.jpg");
  background-size: cover;
  background-color: beige;
  font-family: -apple-system, BlinkMacSystemFont, 'RobotoLight', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.linkPath {
  color: black !important;
}
.linkPath:hover {
  color: gray !important;
}